* {
  box-sizing: border-box;
}

h1,
.para {
  margin: 0;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

html {
  height: 100vh;
}

body {
  height: 100%;
  margin: 0;
}

header,
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #73628a;
  padding: 32px;
  min-height: 15%;
}
.main-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 24px;
  background-color: #cbc5ea;
  min-height: 70%;
}

.form-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.result {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px;
}

.magic-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 15px;
}
.button {
  display: flex;
}

.card-image {
  width: 200px;
  height: auto;
}
